.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 1185px;
        li{
            margin: 36px 60px;
        }
    }
    .button-outline{
        margin-top: 70px;
    }
}